<style>
    .dropdown-toggle {
        width: 100% !important;
    }
    ul li{
        width:100%;
    }
    .dropdown-menu {
        width:100%;
    }
</style>
<div class="row">
    <div class="col-6">
        <button type="button" class="btn btn-primary" onclick="createProductForm()">Add Product</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-primary" onclick="createBrandForm()">Add Brand</button>
    </div>
</div>
<br />

<div id="create-product-form"  style="display:none">
    <div class="row text-center">
        <br />
        <div class="col-4">
            <form method="post" enctype="multipart/form-data" asp-controller="Create" asp-action="Create">
                <div class="form-outline mb-4">
                    <input type="text" id="form6Example3" class="form-control" name="Name" />
                    <label class="form-label" for="form6Example3">Product name</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="number" id="form6Example4" class="form-control" name="Price" />
                    <label class="form-label" for="form6Example4">Price</label>
                </div>
                <br />
                @*<div class="dropdown text-left">
                    <button class="btn btn-primary dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false">
                        Изберете категория
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#" onclick="changeCategoryText('Електроника')">Електроника</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeCategoryText('Мода')">Мода</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeCategoryText('За градината')">За градината</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeCategoryText('Имоти')">Имоти</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeCategoryText('Авто')">Авто</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeCategoryText('Други')">Други</a></li>
                    </ul>
                    <input id="categoryInput" type="hidden" name="category" />
                </div>*@
                <div class="dropdown text-left">
                    <button class="btn btn-primary dropdown-toggle"
                            type="button" id="dropdownMenuCategoty"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Category
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#" onclick="changeCategoryText('Electronics') ">Electronics</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeCategoryText('Fashion')">Fashion</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeCategoryText('Garden')">Garden</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeCategoryText('Real Estate')">Real Estate</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeCategoryText('Auto')">Auto</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeCategoryText('Somthing Else')">Somthing Else</a></li>
                    </ul>
                    <input id="categoryInput" type="hidden" name="category" />
                </div>

                <br />
                <!-- Message input -->
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="form6Example7" rows="4" name="Description"></textarea>
                    <label class="form-label" for="form6Example7">Description</label>
                </div>
                <label class="form-label font-weight-bolder" for="customFile">Cover Image</label>
                <input type="file" class="form-control" id="customFile" name="image" />

                <label class="form-label font-weight-bolder" for="customFile">Images</label>
                <input type="file" class="form-control" id="customFile" name="images" multiple />
                <br />
                <button type="submit" class="btn btn-primary btn-block mb-4 ">Publish</button>
            </form>
        </div>
    </div>
</div> 
<div id="create-brand-form" style="display:none">
    <div class="row text-center">
        <br />
        <div class="col-4">
            <form method="post" enctype="multipart/form-data" asp-controller="Brand" asp-action="Create">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <!-- Text input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form6Example3" class="form-control" name="Name" />
                    <label class="form-label" for="form6Example3">Brand name</label>
                </div>
                <!-- Message input -->
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="form6Example7" rows="4" name="Description"></textarea>
                    <label class="form-label" for="form6Example7">Description</label>
                </div>
                <label class="form-label font-weight-bolder" for="customFile">Logo</label>
                <input type="file" class="form-control" id="customFile" name="Logo" />
                <br />
                <button type="submit" class="btn btn-primary btn-block mb-4 ">Save</button>
            </form>
        </div>
    </div>

</div>

<script>
    function createProductForm() {
        const brandForm = document.getElementById('create-brand-form');
        const productForm = document.getElementById('create-product-form');
        brandForm.style.display = "none";
        if (productForm.style.display === "none") {
            productForm.style.display = "block"
        }

    }
    function createBrandForm() {
        const brandForm = document.getElementById('create-brand-form');
        const productForm = document.getElementById('create-product-form');
        productForm.style.display = "none";
        if (brandForm.style.display === "none") {
            brandForm.style.display = "block"
        }
    }
    function changeCategoryText(text) {
        document.getElementById("dropdownMenuCategoty").innerText  = text;
    }
    function changeRegionText(text) {
        dropDownRegion.innerHTML = text;
    }
</script>