<form method="post" enctype="multipart/form-data" asp-controller="Create" asp-action="Create">
    <div class="form-group">
        <label for="exampleFormControlInput1">Product Name</label>
        <input type="text" name="Name" class="form-control" placeholder="Product name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Price</label>
        <input type="number" name="Price" class="form-control" placeholder="Price">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Region</label>
        <select class="form-select" id="exampleFormControlSelect1" name="Location">
            <option>София</option>
            <option>Пловдив</option>
            <option>Варна</option>
            <option>Бургас</option>
            <option>Русе</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Category</label>
        <select class="form-select" id="exampleFormControlSelect2" name="Category">
            <option>Авто</option>
            <option>Мода</option>
            <option>Електроника</option>
            <option>Имоти</option>
            <option>Мода</option>
            <option>Други</option>
        </select>
    </div>
    <div class="form-group">
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" name="Description" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Cover Image</label>
        <input type="file" name="image" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Image</label>
        <input type="file" name="images" multiple />
    </div>
    <input type="hidden" name="brandId" value="@ViewBag.BrandId" />
    <button type="submit" class="btn btn-success btn-lg">Create</button>
</form>
 
