<form>
    <label>First Name</label>
    <input />
    <label>Last Name</label>
    <input />
    <label>Adress</label>
    <input />
    <input />
</form>
<a class="btn btn-primary" asp-controller="Cart" asp-action="Finish">Готово</a>