<a class="btn btn-primary"  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>
<div class="container">
    <h1>Hello</h1>
</div>
<div class="row ">
    <div class="col-3 shadow p-3 bg-white rounded">
        <a class="btn btn-success">Products</a>
        <a asp-controller="Brand" asp-action="index" name="" class="btn btn-success">Brands</a>
    </div>
    <div class="col-1">

    </div>
    <div class="col-8 shadow p-3 bg-white rounded" style="text-align:center">
        <a class="btn btn-success">Products</a>
    </div>
</div>